apiVersion: v1
clusters:
- cluster:
    certificate-authority: /root/.kube/ca.crt
    extensions:
    - extension:
        last-update: Thu, 11 Jan 2024 03:43:06 IST
        provider: minikube.sigs.k8s.io
        version: v1.32.0
      name: cluster_info
    server: https://{{ minikube_local_api_server_ip }}:{{ minikube_local_api_server_port }}
  name: minikube
contexts:
- context:
    cluster: minikube
    extensions:
    - extension:
        last-update: Thu, 11 Jan 2024 03:43:06 IST
        provider: minikube.sigs.k8s.io
        version: v1.32.0
      name: context_info
    namespace: default
    user: minikube
  name: minikube
current-context: minikube
kind: Config
preferences: {}
users:
- name: minikube
  user:
    client-certificate: /root/.kube/client.crt
    client-key: /root/.kube/client.key
